<h1 style="font-size:30px; padding-right:30px; padding-left:30px">
    Подтвердите адрес электронной почты
</h1>
<p style="font-size:17px; padding-right:30px; padding-left:30px">
    Введите данный код в мобильном приложении, чтобы подтвердить учётную запись:
</p>
<div style="padding-right:30px; padding-left:30px; margin:32px 0 40px">
    <table border="0" cellpadding="0" cellspacing="0"
           style="height: 70px; width: 96px; table-layout: fixed; border-radius: 6px;">
        <tbody>
        <tr>
            <td style="text-align:center; vertical-align:middle; font-size:30px">
                {{.Code}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

<p style="font-size:17px; padding-right:30px; padding-left:30px">
    Это письмо содержит конфиденциальный код для входа в учётную запись "Run, Hse, Run" — пожалуйста, не пересылайте его
    никому. Если вы не запрашивали код, то просто проигнорируйте это сообщение.
</p>